<header class="header">

  <div class="container">
  
    <div class="row">

        <section class="col-6 col-lg-2 header-menu">
            <i class="fa fa-bars"></i>
            <img src="assets/images/store/logo.png" alt="Amakha Paris" class="logo">
        </section>

        <section class="col-6 col-lg-2 header-infos">
            <i class="fa fa-shopping-cart"></i>
            <i class="fa fa-user"></i>
            <p class="amk-balance">AMK: <strong>100</strong></p>
        </section>

        <section class="col-12 col-lg-8 input-group">
            <input type="text" class="form-control" placeholder="O que você procura?">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary">Pesquisar</button>
            </div>
        </section>

    </div>

  </div>

</header>


<section class="topbar">

  <div class="container-fluid">
      <div class="row">
          <section class="col-lg-12 header-menu-desktop">
              <div class="container">
                  <div class="row">
                      <section class="col-lg-12 topbar-menu">
                          <i class="fa fa-bars"></i>
                          <app-menu></app-menu> 
                          <nav>
                               <ul class="topbar-menu-categories">
                                   <li><a href="#">Perfumes</a></li>
                                   <li><a href="#">Perfumes</a></li>
                                   <li><a href="#">Perfumes</a></li>
                                   <li><a href="#">Perfumes</a></li>
                                   <li><a href="#">Perfumes</a></li>
                               </ul>
                           </nav>
                      </section>
                  </div>
              </div>
          </section>
      </div>
  </div>

</section>