<div class="slick-container">

    <div class="slick-product col-12">
        <img src="assets/images/store/produto8.png" class="img-thumbnail">
        <h3>Máscara Tonalizante - Linha Capilar</h3>      
        <ngb-rating [(rate)]="currentRate"></ngb-rating>    
        <p>R$ 500,00<span>por R$ 400,00</span></p>
    </div>

    <div class="slick-product col-12">
        <img src="assets/images/store/produto2.png" class="img-thumbnail">
        <h3>Máscara Tonalizante - Linha Capilar</h3>       
        <ngb-rating [(rate)]="currentRate"></ngb-rating>    
        <p>R$ 500,00<span>por R$ 400,00</span></p>
    </div>

    <div class="slick-product col-12">
        <img src="assets/images/store/produto3.png" class="img-thumbnail">
        <h3>Máscara Tonalizante - Linha Capilar</h3>       
        <ngb-rating [(rate)]="currentRate"></ngb-rating>    
        <p>R$ 500,00<span>por R$ 400,00</span></p>
    </div>

    <div class="slick-product col-12">
        <img src="assets/images/store/produto4.png" class="img-thumbnail">
        <h3>Máscara Tonalizante - Linha Capilar</h3>       
        <ngb-rating [(rate)]="currentRate"></ngb-rating>    
        <p>R$ 500,00<span>por R$ 400,00</span></p>
    </div>

    <div class="slick-product col-12">
        <img src="assets/images/store/produto5.png" class="img-thumbnail">
        <h3>Máscara Tonalizante - Linha Capilar</h3>       
        <ngb-rating [(rate)]="currentRate"></ngb-rating>    
        <p>R$ 500,00<span>por R$ 400,00</span></p>
    </div>

    <div class="slick-product col-12">
        <img src="assets/images/store/produto6.png" class="img-thumbnail">
        <h3>Máscara Tonalizante - Linha Capilar</h3>       
        <ngb-rating [(rate)]="currentRate"></ngb-rating>    
        <p>R$ 500,00<span>por R$ 400,00</span></p>
    </div>

    <div class="slick-product col-12">
        <img src="assets/images/store/produto7.png" class="img-thumbnail">
        <h3>Máscara Tonalizante - Linha Capilar</h3>       
        <ngb-rating [(rate)]="currentRate"></ngb-rating>    
        <p>R$ 500,00<span>por R$ 400,00</span></p>
    </div>


</div> 

