<div class="content">
    <main class="main"> 
        <div class="container">
            <div class="row">
  
                <nav class="col-12" id="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">loja</li>
                    </ol>
                </nav>
  
            </div>    
  
            <div class="row no-gutters">
  
                <section class="col-12">
                    <h2 class="titles">Pedido Efetuado</h2>
                </section>
  
                <section class="order-request col-12">
                    <article class="order-request-content col-12 col-lg-6">
                            <div class="order-request-informations col-12">
                                <h3>INFORMAÇÕES DE PAGAMENTO</h3>
                                <p><strong>Forma de Pagamento:</strong>Depósito de Conta</p>
                            </div>
                            <div class="order-request-informations col-12">
                                <h3>DETALHES DA ENTREGA</h3>
                                <p><strong>Código do Pedido:</strong>ABR02684183</p>
                                <p><strong>Data do pedido:</strong>12/02/2019</p>
                                <p><strong>Quantidade:</strong>3 produtos</p>
                                <p><strong>Valor: </strong>R$ 300,00</p>
                                <p><strong>Tipo de Entrega:</strong>Sedex</p>
                                <p><strong>Prazo de entrega:</strong>até dia 18/02/2019</p>
                                <p><strong>Status:</strong>Pedido Efetuado</p>
                            </div>
                    </article>

                    <article class="order-request-content col-12 col-lg-6">
                            <div class="order-request-summary col-12">
                                <h3>RESUMO DO PEDIDO</h3>
                                <p>3 Produto (s)</p>
                                <p>Subtotal <span>R$ 300,00</span></p>
                                <p>Frete <span>R$ 10,00</span></p>
                            </div>
                            <div class="order-request-total col-12">
                                <p>Total <span>R$ 300,00</span> </p>
                            </div>
                    </article>
                </section>
              
  
                <section class="cart-buttons no-gutters col-12">
                    <article class="col-6">
                        <i class="fa fa-arrow-left"></i>
                        <button type="button" class="btn btn-outline-primary">Voltar</button>
                    </article>
  
                    <article class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary">Continuar</button>
                    </article>
                </section>
  
            </div>    
            
        </div>
    </main>
  </div>