<div class="content">
    <main class="main"> 
        <div class="container">  
  
            <div class="row">
  
                <section class="order-request-title col-12">
                    <h2 class="titles"><strong>Pedido Efetuado</strong></h2>
                </section> 
  
                <section class="order-request col-12">
                    
                    <article class="o-r-content col-12 col-md-6">
                        <div class="o-r-c-info col-12">
                            <h3>Informações de Pagamento</h3>
                            <p><strong>Forma de Pagamento:</strong> Depósito de Conta</p>
                            <hr>
                            <h3>Detalhes da Entrega</h3>
                            <p>Código do Pedido: <span>ABR02684183</span></p>
                            <p>Data do pedido: <span>12/02/2019</span></p>
                            <p>Quantidade: <span>3 produtos</span></p>
                            <p>Valor: <span>R$ 300,00</span></p>
                            <p>Tipo de Entrega: <span>Sedex</span></p>
                            <p>Prazo de entrega: <span>até dia 18/02/2019</span></p>
                            <p>Status: <span>Pedido Efetuado</span></p>
                        </div>
                    </article>
                    <article class="o-r-content col-12 col-md-6">
                        <div class="o-r-c-summary col-12">
                            <h3>Resumo do Pedido</h3>
                            <p>3 Produto (s)</p>
                            <p>Subtotal <span>R$ 300,00</span></p>
                            <p>Frete <span>R$ 10,00</span></p>
                            <p>Total <span>R$ 300,00</span> </p>
                        </div>
                    </article>

                    <article class="accompany-your-order col-12 col-md-6">
                        <h3>Acompanhe o seu Pedido</h3>
                        <div class="o-r-content-cart col-12" *ngFor="let produto of produtos">
                            <img [src]="produto.imagePath">
                            <p>{{ produto.name }}<span>Ref. {{ produto.ref }}</span></p>
                            <p>{{ produto.priceDesc }}</p>
                        </div>
                    </article>

                    <article class="timeline-wrap col-12 col-md-6">
                        <nav class="col-12">
                            <ul class="timeline no-gutters col-12">
                                <li>
                                    <label>1</label>
                                    <a href="#" target="_blank">Pedido Efetuado</a>
                                    <a href="#" class="float-right">26/03/2019</a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare...</p>
                                </li>
                                <li>
                                    <label>2</label>
                                    <a href="#">Pagamento Confirmado</a>
                                    <a href="#" class="float-right">27/03/2019</a>
                                    <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis....</p>
                                </li>
                                <li>
                                    <label>3</label>
                                    <a href="#">Pedido em Separação</a>
                                    <a href="#" class="float-right">05/04/2019</a>
                                    <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet...</p>
                                </li>
                                <li>
                                    <label>4</label>
                                    <a href="#">Pedido Enviado</a>
                                    <a href="#" class="float-right">15/05/2019</a>
                                    <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae...</p>
                                </li>
                                <li>
                                    <label>5</label>
                                    <a href="#">Entrega Realizada</a>
                                    <a href="#" class="float-right">15/06/2019</a>
                                    <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet...</p>
                                </li>
                            </ul>
                        </nav>
                    </article>

                </section>
              
                <section class="cart-buttons no-gutters col-12">
                    <article class="col-6">
                        <i class="fa fa-arrow-left"></i>
                        <button type="button" class="btn btn-outline-primary" [routerLink]="['/payment']">Voltar</button>
                    </article>
                </section>
  
            </div>    
            
        </div>
    </main>
</div>