<!-- Main Nav -->
<div id="nav-bottom">
    <div class="container">
      <!-- nav -->
      <ul class="nav-menu">
        <li class="has-dropdown megamenu">
          <a href="#">Todos os Departamentos</a>
          <div class="dropdown tab-dropdown col-12">
            <div class="row">
              <div class="col-md-2">
                <ul class="tab-nav">
                  <li class="active"><a data-toggle="tab" href="#tab1">Financeiro</a></li>
                  <li><a data-toggle="tab" href="#tab2">Rede</a></li>
                  <li><a data-toggle="tab" href="#tab3">Pedidos</a></li>
                  <li><a data-toggle="tab" href="#tab1">Loja</a></li>
                  <li><a data-toggle="tab" href="#tab2">Ponto de Apoio</a></li>
                  <li><a data-toggle="tab" href="#tab3">Utilidades</a></li>
                  <li><a data-toggle="tab" href="#tab1">Atendimento</a></li>
                  <li><a data-toggle="tab" href="#tab2">Cadastro</a></li>
                </ul>
              </div>
              <div class="col-md-10">
                <div class="dropdown-body tab-content">

                  <!-- tab1 -->
                  <div id="tab1" class="tab-pane fade show active">
                    <div class="row">
                      <!-- post -->
                      <div class="col-md-12">
                        <nav class="nav-menu-content">
                          <ul class="col-md-4">
                            <li><a href="#">Resumo Mensal</a></li>
                            <li><a href="#">Minhas Contas</a></li>
                            <li><a href="#">Transferir Saldo</a></li>
                          </ul>
                          <ul class="col-md-4">
                            <li><a href="#">Assinatura Eletrônica</a></li>
                            <li><a href="#">Extrato</a></li>
                            <li><a href="#">Saques</a></li>
                          </ul>
                          <div class="col-md-4">
                            <div class="post post-sm">
                              <a class="post-img" href="#"><img src="assets/images/store/produto.png" alt=""></a>
                              <div class="post-body">
                                <div class="post-category">
                                  <a href="#">Máscara Tonalizante</a>
                                </div>
                                <h3 class="post-title title-sm"><a href="#">Máscara Tonalizante Vermelha sem amônia ou oxidante</a></h3>
                                <ul class="post-meta">
                                  <li><a href="#">Loja</a></li>
                                  <li>Linha Capilar</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </nav>
                      </div>
                      <!-- /post -->
                    </div>
                  </div>
                  <!-- /tab1 -->

                  <!-- tab2 -->
                  <div id="tab2" class="tab-pane fade show active">
                    <div class="row">
                      <div class="col-md-12">
                        <nav class="nav-menu-content">
                          <ul class="col-md-4">
                            <li><a href="#">Graduação</a></li>
                            <li><a href="#">Vendas da Rede</a></li>
                            <li><a href="#">Minha Rede</a></li>
                            <li><a href="#">Pedidos da Rede</a></li>
                          </ul>
                          <ul class="col-md-4">
                            <li><a href="#">Pontuação</a></li>
                            <li><a href="#">Árvore da Rede</a></li>
                            <li><a href="#">Contatos</a></li>
                          </ul>
                          <div class="col-md-4">
                            <div class="post post-sm">
                              <a class="post-img" href="#"><img src="assets/images/store/produto.png" alt=""></a>
                              <div class="post-body">
                                <div class="post-category">
                                  <a href="#">Máscara Tonalizante</a>
                                </div>
                                <h3 class="post-title title-sm"><a href="#">Máscara Tonalizante Vermelha sem amônia ou oxidante</a></h3>
                                <ul class="post-meta">
                                  <li><a href="#">Loja</a></li>
                                  <li>Linha Capilar</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </nav>
                      </div>
                    </div>
                  </div>
                  <!-- /tab2 -->

                   <!-- tab3 -->
                   <div id="tab3" class="tab-pane fade show">
                      <div class="row">
                        <!-- post -->
                        <div class="col-md-12">
                          <nav class="nav-menu-content">
                            <ul class="col-md-4">
                              <li><a href="#">Nov Pedido</a></li>
                              <li><a href="#">Pedidos Recentes</a></li>
                              <li><a href="#">Meus Pedidos</a></li>
                            </ul>
                            <ul class="col-md-4">
                              <li><a href="#">Todos os Pedidos</a></li>
                              <li><a href="#">Pedidos em Aberto</a></li>
                            </ul>
                            <div class="col-md-4">
                              <div class="post post-sm">
                                <a class="post-img" href="#"><img src="assets/images/store/produto.png" alt=""></a>
                                <div class="post-body">
                                  <div class="post-category">
                                    <a href="#">Máscara Tonalizante</a>
                                  </div>
                                  <h3 class="post-title title-sm"><a href="#">Máscara Tonalizante Vermelha sem amônia ou oxidante</a></h3>
                                  <ul class="post-meta">
                                    <li><a href="#">Loja</a></li>
                                    <li>Linha Capilar</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </nav>
                        </div>
                        <!-- /post -->
                      </div>
                    </div>
                    <!-- /tab3 -->
                  
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- /nav -->
    </div>
  </div>
  <!-- /Main Nav -->
