<div class="payment-tabs col-12">

    <ngb-tabset>

        <ngb-tab>
          <ng-template ngbTabTitle>AMK</ng-template>
          <ng-template ngbTabContent>

              <div class="payment-txt col-12">
                  <p>Você possui 1000 AMK´s</p>
                  <p>Selecione os produtos que deseja trocar por AMK´s</p>
              </div>
              <div class="payment-tabs-content col-12">
                  <article class="cart-products col-12">
                      <div class="d-flex align-items-center col-10">
                        <img src="assets/images/store/img-product.png">
                        <p>Máscara Tonalizante<span>R$ 100,00</span></p>
                      </div>
                      <div class="d-flex align-items-center flex-row-reverse col-2">
                        <input type="text" class="form-control" value="1">
                      </div>
                  </article>
              </div>

          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>PagSeguro</ng-template>
          <ng-template ngbTabContent>
            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
            craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
            cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
            yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
            sint qui sapiente accusamus tattooed echo park.</p>
          </ng-template>
        </ngb-tab>
    
        <ngb-tab>
          <ng-template ngbTabTitle>Depósito</ng-template>
          <ng-template ngbTabContent><p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam obcaecati quibusdam quaerat ipsum odit nulla rerum est quas. Illo dolorem facilis deserunt. Reprehenderit quas natus quos beatae. Debitis, expedita inventore.</p>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>Histórico</ng-template>
          <ng-template ngbTabContent>
              <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                  craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                  cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                  yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                  shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                  sint qui sapiente accusamus tattooed echo park.</p>
          </ng-template>
        </ngb-tab>
    </ngb-tabset>  

<div>