<div class="payment-methods">

    <ngb-tabset>

        <ngb-tab>
            <ng-template ngbTabTitle><i class="fa fa-adn"></i> AMK</ng-template>
            <ng-template ngbTabContent>
              
                <div class="payment-methods-txt">
                    <p>Você possui 1000 AMK´s</p>
                    <p>Selecione os produtos que deseja trocar por AMK´s</p>
                </div>
                
                <div class="payment-methods-products col-12">

                    <div class="payment-methods-products-wrap col-12 col-md-6 pl-md-0">

                        <article class="p-m-product col-12 pl-md-0" *ngFor="let produto of produtos">
                            <div class="p-m-p-content col-12">
                                <img [src]="produto.imagePath">
                                <p>{{ produto.name }}<span>Ref. {{ produto.ref }}</span></p>
                                <div class="btn-group">
                                    <button class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-secondary">2</button>
                                    <button class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </article>

                    </div>

                    <div class="amk-exchange col-12 col-md-6 pr-md-0">
                        <div class="amk-exchange-content col-12">
                            <h3>Troca de AMK´s</h3>
                            <p>AMK´s disponíveis <span>1000</span></p>
                            <p>Itens selecionados <span>3</span></p>
                            <p>AMK´s utilizados <span>200</span></p>
                            <p>Saldo restante <span>800</span></p>
                            <button type="button" class="btn btn-outline-primary">Confirmar</button>
                        </div>
                    </div>

                </div>

            </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle><i class="fa fa-address-card"></i> PagSeguro</ng-template>
          <ng-template ngbTabContent>
            
              <div class="payment-methods-products col-12">
                  <div class="amk-exchange col-12 col-md-6 pl-md-0">
                      <div class="amk-exchange-content col-12">
                          <h3>Troca de AMK´s</h3>
                          <p>AMK´s disponíveis <span>1000</span></p>
                          <p>Itens selecionados <span>3</span></p>
                          <p>AMK´s utilizados <span>200</span></p>
                          <p>Saldo restante <span>800</span></p>
                          <button type="button" class="btn btn-outline-primary">Confirmar</button>
                      </div>
                  </div>

                  <div class="amk-exchange col-12 col-md-6 pr-md-0">
                      <div class="amk-exchange-content col-12">
                          <h3>Troca de AMK´s</h3>
                          <p>AMK´s disponíveis <span>1000</span></p>
                          <p>Itens selecionados <span>3</span></p>
                          <p>AMK´s utilizados <span>200</span></p>
                          <p>Saldo restante <span>800</span></p>
                          <button type="button" class="btn btn-outline-primary">Confirmar</button>
                      </div>
                  </div>
              </div>

          </ng-template>
        </ngb-tab>
    
        <ngb-tab>
          <ng-template ngbTabTitle><i class="fa fa-address-card"></i> Depósito</ng-template>
          <ng-template ngbTabContent> 

              <div class="payment-methods-products col-12">

                  <div class="amk-exchange col-12 col-md-6 pl-md-0">
                      <div class="amk-exchange-content col-12">
                          <h3>Pagar com Depósito Bancário</h3>
                          <h4>Selecione uma das opções:</h4>
                          <div class="amk-exchange-content col-12">
                              <h5>Caixa Econômica Federal (cód. 104)</h5>
                              <p>AMAKHA PARIS</p>
                              <p>CNPJ 28.707.475-0001/31</p>
                              <p>Conta Corrente (Op. 003)</p>
                              <p>Agência 4564</p>
                              <p>Conta 0000799-7</p>
                          </div>

                          <div class="amk-exchange-content col-12">
                              <h5>Itaú SA (cód. 341)</h5>
                              <p>AMAKHA PARIS</p>
                              <p>CNPJ 28.707.475-0001/31</p>
                              <p>Conta Corrente (Op. 003)</p>
                              <p>Agência 4564</p>
                              <p>Conta 0000799-7</p>
                          </div>
                          <button type="button" class="btn btn-outline-primary">Confirmar</button>
                      </div>
                  </div>

                  <div class="amk-exchange col-12 col-md-6 pr-md-0">
                      <div class="amk-exchange-content col-12">
                          <h3>Resumo do Pedido</h3>
                          <h4>Você Selecionou:</h4>
                          <div class="amk-exchange-content col-12">
                              <h5>Caixa Econômica Federal (cód. 104)</h5>
                              <p>AMAKHA PARIS</p>
                              <p>CNPJ 28.707.475-0001/31</p>
                              <p>Conta Corrente (Op. 003)</p>
                              <p>Agência 4564</p>
                              <p>Conta 0000799-7</p>
                          </div>

                          <button type="button" class="btn btn-outline-primary">Anexar Comprovantes</button>
                      </div>
                  </div>

              </div>


          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle><i class="fa fa-list"></i> Histórico</ng-template>
          <ng-template ngbTabContent>
              <div class="payment-methods-products col-12">

                  <div class="amk-exchange col-12 col-md-6 pl-md-0">
                      <div class="amk-exchange-content col-12">
                          <h3>Troca de AMK´s</h3>
                          <p>AMK´s disponíveis <span>1000</span></p>
                          <p>Itens selecionados <span>3</span></p>
                          <p>AMK´s utilizados <span>200</span></p>
                          <p>Saldo restante <span>800</span></p>
                          <button type="button" class="btn btn-outline-primary">Confirmar</button>
                      </div>
                  </div>

                  <div class="amk-exchange col-12 col-md-6 pr-md-0">
                      <div class="amk-exchange-content col-12">
                          <h3>Troca de AMK´s</h3>
                          <p>AMK´s disponíveis <span>1000</span></p>
                          <p>Itens selecionados <span>3</span></p>
                          <p>AMK´s utilizados <span>200</span></p>
                          <p>Saldo restante <span>800</span></p>
                          <button type="button" class="btn btn-outline-primary">Confirmar</button>
                      </div>
                  </div>

              </div>
          </ng-template>
        </ngb-tab>
    </ngb-tabset>  

<div>