<div class="content">
  <main class="main"> 
      <div class="container">  

          <div class="row no-gutters">

              <section class="cart-steps-wrap col-lg-12 no-gutters">
                  <article class="cart-step cart-step-active col-lg-4">
                      <div class="box box-first">
                          <div class="circle"><p>1</p></div>
                          <p>Carrinho</p>
                      </div>
                  </article>

                  <article class="cart-step col-lg-4">
                      <div class="box">
                          <div class="circle"><p>2</p></div>
                          <p>Envio e Entrega</p>
                      </div>
                  </article>

                  <article class="cart-step col-lg-4">
                      <div class="box">
                          <div class="circle"><p>3</p></div>
                          <p>Pagamento</p>
                      </div>
                  </article>
              </section>

              <section class="cart-products-wrap col-12">

                  <article class="cart-products no-gutters col-12" *ngFor="let produto of produtos">
                      <div class="d-flex align-items-center col-10">
                        <i class="fa fa-remove"></i>
                        <img [src]="produto.imagePath">
                        <p>{{ produto.name }}<span>{{ produto.priceDesc }}</span></p>
                      </div>
                      <div class="d-flex align-items-center flex-row-reverse col-2">
                        <input type="text" class="form-control" value="1">
                      </div>
                  </article>

              </section>

              <section class="cart-products-values no-gutters col-12">
                  <div class="col-6">
                      <p><strong>Subtotal<span> (3 itens)</span></strong></p>
                      <p><strong>Frete</strong></p>
                      <p><strong>Total</strong></p>
                  </div>
                  <div class="col-6">
                      <p>R$ 300,00</p>
                      <p>a calcular</p>
                      <p>R$ 300,00</p>
                  </div>
              </section>

              <section class="cart-buttons no-gutters col-12">
                  <article class="col-6">
                      <i class="fa fa-arrow-left"></i>
                      <button type="button" class="btn btn-outline-primary"[routerLink]="['']">Voltar</button>
                  </article>

                  <article class="col-6 d-flex justify-content-end">
                      <button type="button" class="btn btn-outline-primary" [routerLink]="['/shipping-delivery']">Continuar</button>
                  </article>
              </section>

          </div>    
          
      </div>
  </main>
</div>