<div class="content">
  <main class="main"> 
      <div class="container">
          <div class="row">

              <nav class="col-12" id="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">loja</li>
                </ol>
              </nav>

          </div>    

          <div class="row no-gutters">

              <section class="col-12">

                  <h2 class="titles">Carrinho</h2>

              </section>

              <section class="cart-steps-wrap">
                  <div class="cart-step cart-step-active">
                      <div class="box">
                          <div class="circle"><p>1</p></div>
                          <p>Carrinho</p>
                      </div>
                      <div class="right-arrow"></div>
                  </div>

                  <div class="cart-step">
                      <div class="box">
                          <div class="circle"><p>1</p></div>
                          <p>Carrinho</p>
                      </div>
                      <div class="right-arrow"></div>
                  </div>

                  <div class="cart-step">
                      <div class="box">
                          <div class="circle"><p>1</p></div>
                          <p>Carrinho</p>
                      </div>
                      <div class="right-arrow"></div>
                  </div>
              </section>

              <section class="cart-products-wrap col-12">

                  <article class="cart-products no-gutters col-12">
                      <div class="d-flex align-items-center col-10">
                        <i class="fa fa-remove"></i>
                        <img src="assets/images/store/img-product.png">
                        <p>Máscara Tonalizante<span>R$ 100,00</span></p>
                      </div>
                      <div class="d-flex align-items-center flex-row-reverse col-2">
                        <input type="text" class="form-control" value="1">
                      </div>
                  </article>

                  <article class="cart-products no-gutters col-12">
                      <div class="d-flex align-items-center col-10">
                        <i class="fa fa-remove"></i>
                        <img src="assets/images/store/img-product.png">
                        <p>Máscara Tonalizante<span>R$ 100,00</span></p>
                      </div>
                      <div class="d-flex align-items-center flex-row-reverse col-2">
                        <input type="text" class="form-control" value="1">
                      </div>
                  </article>

                  <article class="cart-products no-gutters col-12">
                      <div class="d-flex align-items-center col-10">
                        <i class="fa fa-remove"></i>
                        <img src="assets/images/store/img-product.png">
                        <p>Máscara Tonalizante<span>R$ 100,00</span></p>
                      </div>
                      <div class="d-flex align-items-center flex-row-reverse col-2">
                        <input type="text" class="form-control" value="1">
                      </div>
                  </article>

              </section>

              <section class="cart-products-values no-gutters col-12">
                  <div class="col-6">
                      <p>Subtotal <span>(3 itens)</span></p>
                      <p>Frete</p>
                      <p>Total</p>
                  </div>
                  <div class="col-6">
                      <p>R$ 300,00</p>
                      <p>a calcular</p>
                      <p>R$ 300,00</p>
                  </div>
              </section>

              <section class="cart-buttons no-gutters col-12">
                  <article class="col-6">
                      <i class="fa fa-arrow-left"></i>
                      <button type="button" class="btn btn-outline-primary">Voltar</button>
                  </article>

                  <article class="col-6 d-flex justify-content-end">
                      <button type="button" class="btn btn-outline-primary">Continuar</button>
                  </article>
              </section>

          </div>    
          
      </div>
  </main>
</div>