<app-header></app-header>

<router-outlet></router-outlet>

<app-snackbar></app-snackbar>

<section class="social-media">
	<div class="container">
		<div class="row">
			<div class="col-6 text-left">
				<p>Nossos Canais:</p>
			</div>
			<nav class="col-6 text-right">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a> 
				<a href="#"><i class="fa fa-facebook-square"></i></a>
				<a href="#"><i class="fa fa-flickr"></i></a>
			</nav>
		</div>
	</div>
</section>


<footer class="footer gradient-background-overlay"> 

    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>Sobre Nós</h6>
                        </div>
                        <img src="assets/images/store/footer.jpg">
                        <div class="footer-logo my-4">
                            <img src="assets/images/store/logo-footer.png" width="136" height="34">
                        </div>
                        <p>A Amakha Paris é uma das maiores marcas de beleza e bem-estar do Brasil, oferecendo produtos de alta qualidade e incentivando o empreendedorismo social.</p>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-xl-4">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>Atendimento</h6>
                        </div>
                        <div class="weekly-office-hours">
                            <ul>
                                <li><span>Segunda - Sexta</span> <span>09:00 - 18:00</span></li>
                                <li><span>Sábado</span> <span>Fechado</span></li>
                                <li><span>Domingo</span> <span>Fechado</span></li>
                            </ul>
                        </div>
                        <div class="address">
                            <h6><img src="assets/images/store/phone-call.png" alt=""> (11) 2388-8203</h6>
                            <h6><img src="assets/images/store/envelope.png" alt=""> contato@amakhacosmeticos.com.br </h6>
                            <h6><img src="assets/images/store/location.png" alt=""> Rua do Sacramento, 522 <br> Rudge Ramos, São Bernardo</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-xl-2">
                    <div class="footer-widget-area">

                        <div class="widget-title">
                            <h6>Links Rápidos</h6>
                        </div>

                        <ul class="useful-links-nav d-sm-inline d-md-flex d-xl-inline">
							<li><a href="#">Amakha Paris</a></li>
                            <li><a href="#">Perfumes Femininos</a></li>
                            <li><a href="#">Perfumes Masculinos</a></li>
                            <li><a href="#">Linha Capilar</a></li>
                            <li><a href="#">Cremes Hidratantes</a></li>
                            <li><a href="#">Linha Men</a></li>
                            <li><a href="#">Face & Body</a></li>
                            <li><a href="#">Linha Íntima</a></li>
                            <li><a href="#">Vip 450</a></li>
                            <li><a href="#">Vip 1000</a></li>
                            <li><a href="#">Torne-se um PA</a></li>
                            <li><a href="#">Seja um Executivo</a></li>
                            <li><a href="#">Sistema Amakha</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
   
                        <div class="widget-title">
                            <h6>Destaques do Mês</h6>
                        </div>
              
                        <div class="featured-properties-slides">
                            <div class="single-featured-properties-slide">
                                <a href="#"><img src="assets/images/store/footer-product.jpg" alt=""></a>
							</div>
							<!--
                            <div class="single-featured-properties-slide">
                                <a href="#"><img src="assets/images/store/footer-product.jpg" alt=""></a>
                            </div>
                            <div class="single-featured-properties-slide">
                                <a href="#"><img src="assets/images/store/footer-product.jpg" alt=""></a>
							</div>
							-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="copywrite-text">
        <p>Copyright &copy; 2019 - By <a href="http://www.amakhacosmeticos.com.br" target="_blank">Amakha Paris</a></p>
	</div>

</footer>