<nav>
    <ul>
        <li>
          <input id='checar' type='checkbox' [(ngModel)]="isActive" />
          <label for='checar'><span></span>Perfumes</label>
        </li>
        <li>
          <input id='checar2' type='checkbox' />
          <label for='checar2'><span></span>Hidratantes</label>
        </li>
        <li>
          <input id='checar3' type='checkbox' />
          <label for='checar3'><span></span>Linha Capilar</label>
        </li>
        <li>
          <input id='checar4' type='checkbox' />
          <label for='checar4'><span></span>Promoções</label>
        </li>
        <li>
          <input id='checar5' type='checkbox' />
          <label for='checar5'><span></span>Eventos</label>
        </li>
        <li>
          <input id='checar6' type='checkbox' />
          <label for='checar6'><span></span>Face & Body</label>
        </li>
        <li>
          <input id='checar7' type='checkbox' />
          <label for='checar7'><span></span>Linha Íntima</label>
        </li>
    </ul>
</nav>


