<nav>
    <ul>
        <li>
          <input id='checar' type='checkbox' [(ngModel)]="isActive" />
          <label for='checar'><span></span><strong>Perfumes</strong></label>
        </li>
        <li>
          <input id='checar2' type='checkbox' />
          <label for='checar2'><span></span><strong>Hidratantes</strong></label>
        </li>
        <li>
          <input id='checar3' type='checkbox' />
          <label for='checar3'><span></span><strong>Linha Capilar</strong></label>
        </li>
        <li>
          <input id='checar4' type='checkbox' />
          <label for='checar4'><span></span><strong>Promoções</strong></label>
        </li>
        <li>
          <input id='checar5' type='checkbox' />
          <label for='checar5'><span></span><strong>Eventos</strong></label>
        </li>
        <li>
          <input id='checar6' type='checkbox' />
          <label for='checar6'><span></span><strong>Face & Body</strong></label>
        </li>
        <li>
          <input id='checar7' type='checkbox' />
          <label for='checar7'><span></span><strong>Linha Íntima</strong></label>
        </li>
    </ul>
</nav>


