<div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

        <li  data-toggle="collapse" data-target="#financeiro" class="collapsed active">
          <a href="#"><i class="fa fa-gift fa-coins"></i> Financeiro <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="financeiro">
            <li><a href="#">Resumo Mensal</a></li>
            <li><a href="#">Minhas Contas</a></li>
            <li><a href="#">Transferir Saldo</a></li>
            <li><a href="#">Assinatura eletrônica</a></li>
            <li><a href="#">Extrato</a></li>
            <li><a href="#">Saques</a></li>
        </ul>

        <li data-toggle="collapse" data-target="#rede" class="collapsed">
            <a href="#"><i class="fa fa-globe"></i> Rede <span class="arrow"></span></a>
        </li>  
        <ul class="sub-menu collapse" id="rede">
            <li><a href="#">Graduação</a></li>
            <li><a href="#">Vendas da Rede</a></li>
            <li><a href="#">Minha Rede</a></li>
            <li><a href="#">Pedidos da Rede</a></li>
            <li><a href="#">Árvore da Rede</a></li>
            <li><a href="#">Pontuação</a></li>
            <li><a href="#">Contatos</a></li>
        </ul>

        <li data-toggle="collapse" data-target="#pedidos" class="collapsed">
            <a href="#"><i class="fa fa-address-book"></i> Pedidos <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="pedidos">
            <li><a href="#">Novo Pedido</a></li>
            <li><a href="#">Pedidos Recentes</a></li>
            <li><a href="#">Meus Pedidos</a></li>
            <li><a href="#">Todos os Pedidos</a></li>
            <li><a href="#">Pedidos em Aberto</a></li>
        </ul>

        <li data-toggle="collapse" data-target="#loja" class="collapsed">
            <a href="#"><i class="fa fa-shopping-cart"></i> Loja <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="loja">
            <li><a href="#">Perfumes</a></li>
            <li><a href="#">Creames Hidratantes</a></li>
            <li><a href="#">Linha Capilar</a></li>
            <li><a href="#">Face & Body</a></li>
            <li><a href="#">Linha Íntima</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Eventos</a></li>
        </ul>

        <li data-toggle="collapse" data-target="#ponto" class="collapsed">
            <a href="#"><i class="fa fa-info-circle"></i> Ponto de Apoio <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="ponto">
            <li><a href="#">Perfumes</a></li>
            <li><a href="#">Creames Hidratantes</a></li>
            <li><a href="#">Linha Capilar</a></li>
            <li><a href="#">Face & Body</a></li>
            <li><a href="#">Linha Íntima</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Eventos</a></li>
        </ul>

        <li data-toggle="collapse" data-target="#utilidades" class="collapsed">
            <a href="#"><i class="fa fa-neuter"></i> Utilidades <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="utilidades">
            <li><a href="#">Perfumes</a></li>
            <li><a href="#">Creames Hidratantes</a></li>
            <li><a href="#">Linha Capilar</a></li>
            <li><a href="#">Face & Body</a></li>
            <li><a href="#">Linha Íntima</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Eventos</a></li>
        </ul>

        <li data-toggle="collapse" data-target="#atendimento" class="collapsed">
            <a href="#"><i class="fa fa-address-book"></i> Atendimento <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="atendimento">
            <li><a href="#">Perfumes</a></li>
            <li><a href="#">Creames Hidratantes</a></li>
            <li><a href="#">Linha Capilar</a></li>
            <li><a href="#">Face & Body</a></li>
            <li><a href="#">Linha Íntima</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Eventos</a></li>
        </ul>

        <li data-toggle="collapse" data-target="#cadastro" class="collapsed">
            <a href="#"><i class="fa fa-registered"></i> Cadastro <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="cadastro">
            <li><a href="#">Perfumes</a></li>
            <li><a href="#">Creames Hidratantes</a></li>
            <li><a href="#">Linha Capilar</a></li>
            <li><a href="#">Face & Body</a></li>
            <li><a href="#">Linha Íntima</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Eventos</a></li>
        </ul>

    </ul>

</div>     