<i (click)="animateMe()" class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

<div class="menu-list" [@openClose]="state">  

    <ul id="menu-content" class="menu-content collapse out">

        <li (click)="toggle('divA')" aria-expanded="false" data-toggle="collapse" data-target="#financeiro" class="collapsed active">
            <a href="#"><i class="fa fa-gift fa-coins"></i> Financeiro <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu" id="financeiro" *ngIf="divName==='divA'" [@popOverState]="stateName" (@popOverState.done)="animationDone()">
            <li><a href="#">Resumo Mensal</a></li>
            <li><a href="#">Minhas Contas</a></li>
            <li><a href="#">Transferir Saldo</a></li>
            <li><a href="#">Assinatura eletrônica</a></li>
            <li><a href="#">Extrato</a></li>
            <li><a href="#">Saques</a></li>
        </ul>

        <li (click)="toggle('divB')" data-toggle="collapse" data-target="#rede" class="collapsed">
            <a href="#"><i class="fa fa-globe"></i> Rede <span class="arrow"></span></a>
        </li>  
        <ul class="sub-menu" id="rede" *ngIf="divName==='divB'"  [@popOverState]="stateName" (@popOverState.done)="animationDone()">
            <li><a href="#">Graduação</a></li>
            <li><a href="#">Vendas da Rede</a></li>
            <li><a href="#">Minha Rede</a></li>
            <li><a href="#">Pedidos da Rede</a></li>
            <li><a href="#">Árvore da Rede</a></li>
            <li><a href="#">Pontuação</a></li>
            <li><a href="#">Contatos</a></li>
        </ul>

        <li (click)="toggle('divC')" data-toggle="collapse" data-target="#pedidos" class="collapsed">
            <a href="#"><i class="fa fa-address-book"></i> Pedidos <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu" id="pedidos" *ngIf="divName==='divC'" [@popOverState]="stateName" (@popOverState.done)="animationDone()">
            <li><a href="#">Novo Pedido</a></li>
            <li><a href="#">Pedidos Recentes</a></li>
            <li><a href="#">Meus Pedidos</a></li>
            <li><a href="#">Todos os Pedidos</a></li>
            <li><a href="#">Pedidos em Aberto</a></li>
        </ul>

        <li (click)="toggle('divD')" data-toggle="collapse" data-target="#loja" class="collapsed">
            <a href="#"><i class="fa fa-shopping-cart"></i> Loja <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu" id="loja" *ngIf="divName==='divD'" [@popOverState]="stateName" (@popOverState.done)="animationDone()">
            <li><a href="#">Perfumes</a></li>
            <li><a href="#">Creames Hidratantes</a></li>
            <li><a href="#">Linha Capilar</a></li>
            <li><a href="#">Face & Body</a></li>
            <li><a href="#">Linha Íntima</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Eventos</a></li>
        </ul>

        <li (click)="toggle('divE')" data-toggle="collapse" data-target="#ponto" class="collapsed">
            <a href="#"><i class="fa fa-info-circle"></i> Ponto de Apoio <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu" id="ponto" *ngIf="divName==='divE'" [@popOverState]="stateName" (@popOverState.done)="animationDone()">
            <li><a href="#">Perfumes</a></li>
            <li><a href="#">Creames Hidratantes</a></li>
            <li><a href="#">Linha Capilar</a></li>
            <li><a href="#">Face & Body</a></li>
            <li><a href="#">Linha Íntima</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Eventos</a></li>
        </ul>

        <li (click)="toggle('divF')" data-toggle="collapse" data-target="#utilidades" class="collapsed">
            <a href="#"><i class="fa fa-neuter"></i> Utilidades <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu" id="utilidades" *ngIf="divName==='divF'" [@popOverState]="stateName" (@popOverState.done)="animationDone()">
            <li><a href="#">Perfumes</a></li>
            <li><a href="#">Creames Hidratantes</a></li>
            <li><a href="#">Linha Capilar</a></li>
            <li><a href="#">Face & Body</a></li>
            <li><a href="#">Linha Íntima</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Eventos</a></li>
        </ul>

        <li (click)="toggle('divG')" data-toggle="collapse" data-target="#atendimento" class="collapsed">
            <a href="#"><i class="fa fa-address-book"></i> Atendimento <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu" id="atendimento" *ngIf="divName==='divG'" [@popOverState]="stateName" (@popOverState.done)="animationDone()">
            <li><a href="#">Perfumes</a></li>
            <li><a href="#">Creames Hidratantes</a></li>
            <li><a href="#">Linha Capilar</a></li>
            <li><a href="#">Face & Body</a></li>
            <li><a href="#">Linha Íntima</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Eventos</a></li>
        </ul>

        <li (click)="toggle('divH')" data-toggle="collapse" data-target="#cadastro" class="collapsed">
            <a href="#"><i class="fa fa-registered"></i> Cadastro <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu" id="cadastro" *ngIf="divName==='divH'" [@popOverState]="stateName" (@popOverState.done)="animationDone()">
            <li><a href="#">Perfumes</a></li>
            <li><a href="#">Creames Hidratantes</a></li>
            <li><a href="#">Linha Capilar</a></li>
            <li><a href="#">Face & Body</a></li>
            <li><a href="#">Linha Íntima</a></li>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Eventos</a></li>
        </ul>

    </ul>

</div>     