<div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

        <li  data-toggle="collapse" data-target="#products" class="collapsed active">
          <a href="#"><i class="fa fa-gift fa-coins"></i> Financeiro <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="products">
            <li class="active"><a href="#">Resumo Mensal</a></li>
            <li><a href="#">Minhas Contas</a></li>
            <li><a href="#">Transferir Saldo</a></li>
            <li><a href="#">Assinatura eletrônica</a></li>
            <li><a href="#">Extrato</a></li>
            <li><a href="#">Saques</a></li>
        </ul>

        <li data-toggle="collapse" data-target="#service" class="collapsed">
            <a href="#"><i class="fa fa-globe"></i> Rede <span class="arrow"></span></a>
        </li>  
        <ul class="sub-menu collapse" id="service">
            <li>Graduação</li>
            <li>Vendas da Rede</li>
            <li>Minha Rede</li>
            <li>Pedidos da Rede</li>
            <li>Árvore da Rede</li>
            <li>Pontuação</li>
            <li>Contatos</li>
        </ul>

        <li data-toggle="collapse" data-target="#new" class="collapsed">
            <a href="#"><i class="fa fa-address-book"></i> Pedidos <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="new">
            <li>Novo Pedido</li>
            <li>Pedidos Recentes</li>
            <li>Meus Pedidos</li>
            <li>Todos os Pedidos</li>
            <li>Pedidos em Aberto</li>
        </ul>

        <li data-toggle="collapse" data-target="#loja" class="collapsed">
            <a href="#"><i class="fa fa-shopping-cart"></i> Loja <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="loja">
            <li>Perfumes</li>
            <li>Creames Hidratantes</li>
            <li>Linha Capilar</li>
            <li>Face & Body</li>
            <li>Linha Íntima</li>
            <li>Promoções</li>
            <li>Eventos</li>
        </ul>

        <li data-toggle="collapse" data-target="#ponto" class="collapsed">
            <a href="#"><i class="fa fa-info-circle"></i> Ponto de Apoio <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="ponto">
            <li>Perfumes</li>
            <li>Creames Hidratantes</li>
            <li>Linha Capilar</li>
            <li>Face & Body</li>
            <li>Linha Íntima</li>
            <li>Promoções</li>
            <li>Eventos</li>
        </ul>

        <li data-toggle="collapse" data-target="#utilidades" class="collapsed">
            <a href="#"><i class="fa fa-neuter"></i> Utilidades <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="utilidades">
            <li>Perfumes</li>
            <li>Creames Hidratantes</li>
            <li>Linha Capilar</li>
            <li>Face & Body</li>
            <li>Linha Íntima</li>
            <li>Promoções</li>
            <li>Eventos</li>
        </ul>

        <li data-toggle="collapse" data-target="#atendimento" class="collapsed">
            <a href="#"><i class="fa fa-address-book"></i> Atendimento <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="atendimento">
            <li>Perfumes</li>
            <li>Creames Hidratantes</li>
            <li>Linha Capilar</li>
            <li>Face & Body</li>
            <li>Linha Íntima</li>
            <li>Promoções</li>
            <li>Eventos</li>
        </ul>

        <li data-toggle="collapse" data-target="#cadastro" class="collapsed">
            <a href="#"><i class="fa fa-registered"></i> Cadastro <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="cadastro">
            <li>Perfumes</li>
            <li>Creames Hidratantes</li>
            <li>Linha Capilar</li>
            <li>Face & Body</li>
            <li>Linha Íntima</li>
            <li>Promoções</li>
            <li>Eventos</li>
        </ul>

    </ul>

</div>     