<div class="row">
    <div class="col-12">
      <div ngbDropdown>
        <i class="fa fa-shopping-cart" ngbDropdownToggle></i>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
            <div id="header-infos-content" class="col-12">
                <p>1x Nome do Produto <span>R$15,00</span></p>
                <i class="fa fa-remove"></i>
            </div>
            <div id="header-infos-content" class="col-12">
                <p>1x Nome do Produto <span>R$15,00</span></p>
                <i class="fa fa-remove"></i>
            </div>
            <div id="header-infos-content" class="col-12">
                <p>1x Nome do Produto <span>R$15,00</span></p>
                <i class="fa fa-remove"></i>
            </div>
            <div id="header-infos-total" class="col-12">
                <p>Total<span>R$ 45,00</span></p> 
            </div>
            <div class="col-12">
                <button class="btn btn-primary col-12">Fechar Pedido</button>
            </div>
        </div>
      </div>
    </div>
  
  </div> 