<div class="content">
    <main class="main"> 
        <div class="container">
 
            <div class="row">

                <section class="cart-steps-wrap col-lg-12 no-gutters">
                    <article class="cart-step col-lg-4">
                        <div class="box box-first">
                            <div class="circle"><p>1</p></div>
                            <p>Carrinho</p>
                        </div>
                    </article>
  
                    <article class="cart-step col-lg-4">
                        <div class="box">
                            <div class="circle"><p>2</p></div>
                            <p>Envio e Entrega</p>
                        </div>
                    </article>
  
                    <article class="cart-step cart-step-active col-lg-4">
                        <div class="box">
                            <div class="circle"><p>3</p></div>
                            <p>Pagamento</p>
                        </div>
                    </article>
                </section>

                <section class="order-summary col-12">
                    <article class="order-summary-content col-12">
                        <div class="col-6">
                            <p>Pedido nº 12342684183</p>
                            <p>Data do pedido 2/11/19</p>
                            <p>3 itens</p>
                            <p>Status: <span>Pendente</span></p>
                        </div>
                        <div class="col-6">
                            <p>Total: R$ 310,00</p>
                            <p>Total Pago: R$ 310,00</p>
                            <p><span>Pendente:</span>R$ 110,00</p>
                        </div>
                  </article>
                </section>
  
                <section class="col-12">
                    <h2 class="titles">Formas de Pagamento</h2>
                </section>
  
                <app-tabs class="col-12"></app-tabs>
  
                
                <section class="cart-buttons no-gutters col-12">
                    <article class="col-6">
                        <i class="fa fa-arrow-left"></i>
                        <button type="button" class="btn btn-outline-primary">Voltar</button>
                    </article>
  
                    <article class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary">Continuar</button>
                    </article>
                </section>
  
            </div>    
            
        </div>
    </main>
  </div>