<div class="content">
  <main class="main"> 
      <div class="container"> 

          <div class="row">

              <section class="cart-steps-wrap col-lg-12 no-gutters">
                  <article class="cart-step col-lg-4"> 
                      <div class="box box-first">
                          <div class="circle"><p>1</p></div>
                          <p>Carrinho</p>
                      </div>
                  </article>

                  <article class="cart-step cart-step-active col-lg-4">
                      <div class="box">
                          <div class="circle"><p>2</p></div>
                          <p>Envio e Entrega</p>
                      </div>
                  </article>

                  <article class="cart-step col-lg-4">
                      <div class="box">
                          <div class="circle"><p>3</p></div>
                          <p>Pagamento</p>
                      </div>
                  </article>
              </section>

              <section class="shipping-options col-12 col-lg-6">
                  <h3>Opções de Envio</h3>
                  <article class="shipping-options-content no-gutters col-12">
                      <div class="col-12">
                          <div class="shipping-options-radio">
                              <input class="form-check-input" type="radio" checked>
                              <label class="form-check-label">Retirar no Local</label>
                          </div>
                          <div class="shipping-options-radio">
                              <input class="form-check-input" type="radio" checked>
                              <label class="form-check-label">Sedex</label>
                              <span>(em até 5 dias úteis)</span>
                          </div>
                          <div class="shipping-options-radio">
                              <input class="form-check-input" type="radio" checked>
                              <label class="form-check-label">PAC</label>
                              <span>(em até 11 dias úteis)</span>
                          </div>
                          <div class="shipping-options-radio">
                              <input class="form-check-input" type="radio" checked>
                              <label class="form-check-label">Transportadora</label>
                          </div>
                      </div>
                  </article>
              </section>

              <section class="shipping-options col-12 col-lg-6">
                  <h3>Resumo do Pedido</h3>
                  <article class="shipping-options-content no-gutters col-12">
                      <div class="col-6">
                          <p>3 produto (s)</p>
                          <p>Subtotal</p>
                          <p>Frete</p>
                          <p>Total</p>
                      </div>
                      <div class="col-6">
                          <p>R$ 300,00</p>
                          <p>R$ 300,00</p>
                          <p>R$ 10,00</p>
                          <p>R$ 300,00</p>
                      </div>
                  </article>
              </section>

              <section class="shipping-options col-12 col-lg-6">
                  <h3>Endereço de Entrega</h3>
                  <article class="shipping-options-content no-gutters col-12">
                      <div class="col-12">
                          <p><strong>Rua:</strong> Almir Nelson de Almeida, 281 - Bl A2 - apto 23</p>
                          <p><strong>CEP:</strong> 81230-220</p>
                          <p><strong>Bairro:</strong> Campo Comprido</p>
                          <p><strong>Cidade:</strong> Curitiba - PR</p>
                          <p><a href="#">Alterar Endereço de Entrega</a></p>
                      </div>
                  </article>
              </section>

              <section class="shipping-options col-12 col-lg-6">
                  <h3>Endereço de Faturamento</h3>
                  <article class="shipping-options-content no-gutters col-12">
                      <div class="col-12">
                          <p><strong>Rua:</strong> Almir Nelson de Almeida, 281 - Bl A2 - apto 23</p>
                          <p><strong>CEP:</strong> 81230-220</p>
                          <p><strong>Bairro:</strong> Campo Comprido</p>
                          <p><strong>Cidade:</strong> Curitiba - PR</p>
                          <p><a href="#">Alterar Endereço de Faturamento</a></p>
                      </div>
                  </article>
              </section>

              <section class="cart-buttons no-gutters col-12">
                  <article class="col-6">
                      <i class="fa fa-arrow-left"></i>
                      <button type="button" class="btn btn-outline-primary" [routerLink]="['/shopping-cart']">Voltar</button>
                  </article>

                  <article class="col-6 d-flex justify-content-end">
                      <button type="button" class="btn btn-outline-primary" [routerLink]="['/payment']">Continuar</button>
                  </article>
              </section>

          </div>    
          
      </div>
  </main>
</div>