<div class="row">
    <div ngbDropdown>
        <i class="fa fa-user" ngbDropdownToggle></i>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">

            <div id="header-infos-content" class="col-12">
                <img src="assets/images/store/user.png" alt="">
                <p>João da Silva<span>Id: 100.234.23</span></p>
            </div>

            <div id="header-infos-content-user" class="col-12">
                <p>Patrocinador:<span>Roberto dos Santos</span></p>
                <p>Graduação:<span>Diamante</span></p>
                <p>Pontuação do Mês:<span>R$ 180,00</span></p>
            </div>

            <div id="header-infos-total" class="col-12">
                <p>Total<span>R$ 20.000,00</span></p> 
            </div>
            
        </div>
    </div>
</div> 