.footer {
    background: lighten(rebeccapurple, 15%);
	.social-media {
		background: #ccc;
		height: 37px;
		i {font-size:2.5rem; margin-top: 0.7rem; @include spaces(margin, left, $ten); color: #333;}
		p {line-height:3.7rem;}
	}
    .footer-content {
		@include spaces(padding, top, $twenty); 
		.footer-content-wrap {
			@include spaces(margin, top, $ten); 
			@include spaces(margin, bottom, $thirty); 
			h3 {
				font-size:1.6rem; 
				color:#fff; 
				margin:$no-margin;
				@include spaces(margin, bottom, $ten); 
			}
			p {
				color: #fff;
				span {display:block;}
				font-size: 1.4rem;
				margin:$no-margin;
				@include spaces(margin, bottom, $ten); 
			}
		}
	}
}

@media only screen and (min-width: 768px) {

	.footer {
		.footer-content-wrap {
			display: flex;
		}
	}

}