.footer {
    background: $secondary-color;
	.social-media {
		background: #ccc;
		height:37px;
		i {
			font-size:2.5rem; 
			margin-top: 0.7rem; 
			@include spaces(margin, left, $ten); 
			color: #333;
		}
		p {
			line-height:3.7rem; 
			font-size:$font-12;
		}
	}
    .footer-content {
		@include spaces(padding, top, $twenty); 
		.footer-content-wrap {
			@include spaces(margin, top, $ten); 
			@include spaces(margin, bottom, $thirty); 
			h3, p {
				color:$white; 
				margin:$no-margin;
				@include spaces(margin, bottom, $ten); 
			}
			h3 {
				font-size:1.6rem; 
			}
			p {
				span {display:block;}
				font-size: 1.4rem;
			}
		}
	}
}

@media only screen and (min-width: 768px) {

	.footer {
		.footer-content-wrap {
			display: $display-flex;
		}
	}

}