.header {
	position: sticky;
	top: 0;
    padding: 0.5rem 0 0 0;		
	background:rgba(254, 254, 254, 0.9);
	border-bottom: 0.3rem solid $primary-color;
	z-index:99999;
	.input-group {
		align-items: center;
		@include spaces(margin, top, $ten);
		@include spaces(margin, bottom, $ten);
		.form-control {
			font-size: 1.3rem; 
			border: 0.1rem solid #ccc;
			border-top-left-radius: $border-radius; 
			border-bottom-left-radius: $border-radius;
			height: 41px;
		} 
		button {
			@include default-button;
			width: 100px;
		}
	}
	.header-menu {
		display: $display-flex; 
		align-items: center;
		.fa-bars {
			font-size:2.1rem;
		}
		.logo {
			width:70px; 
			height:36px; 
			@include spaces(margin, right, $twenty);
			@include spaces(margin, left, $twenty);
		}
	}
	.header-infos {
		display: $display-flex; 
		align-items: center;
		flex-direction: row-reverse; 
		justify-content: space-between;
		.fa-user {
			font-size:2.2rem; 
			color:$primary-color;
			@include spaces(margin, right, $twenty);
			@include spaces(margin, left, $twenty);
		}
		.fa-shopping-cart {
			font-size:2.2rem; 
			color: $primary-color;
		}
		.amk-balance {
			display: flex;
			align-items:center;
			margin: 0.3rem 0 0 0;
			.fa-buysellads {
				font-size:2rem;
				color: $primary-color;
			}
			strong {
				color:$txt-primary-color;
			}
		}
	}
}

.topbar {
	display:none;
}


@media only screen and (min-width: 768px) {

	.header { 
		padding: 1rem 0;
		.header-menu {
			.fa-bars {
				display:none;
			}
			.logo {
				width:100px; 
				height:51px; 
				margin: $no-margin;
			}
		}
		.header-infos {
			order: 1;
		}
	}
	
	.topbar {
		display: block;
		background:$secondary-color;
		.header-menu-desktop {
			height:60px;
			border-bottom: $border;
			order: 2;
			.fa-bars {
				font-size:2.1rem; 
				color:$terciary-color;
			}
			.topbar-menu {
				display: $display-flex;
				align-items: center;
				height: 60px;
				p {
					font-weight: bold;
					font-size: 1.6rem;
					text-transform: uppercase;
					margin: 0.2rem 0 0 1rem;
				}
			}
			nav {
				display: flex;
				width: 100%;
				justify-content: flex-end;
				.topbar-menu-categories {
					display: $display-flex;
					align-items: center;
					justify-content: flex-end;
					height: 60px;
					margin: $no-margin; 
					li {
						@include spaces(margin, left, $thirty); 
						a {
							font-size: 1.3rem; 
							color: $terciary-color; 
							transition: 0.5s ease;
							&:hover {
								color: $txt-terciary-color;
							}
						}
					}
				}	
			}
		}
	}

}