.content {
	display: $display-flex;
	min-height: 100vh;
	@include spaces(padding, bottom, $thirty);
	.main {
		display: $display-flex;
		flex-wrap:wrap;
		flex:1;
		.banner {
			width: 100%;
			height:200px;
			background:url("../assets/images//store//blog-4.jpg") rgba(148, 112, 84, 0.5);
			@include spaces(margin, bottom, $thirty);
			.titles {
				@include titles(#333, 1.6rem, $no-border);
				@include spaces(margin, top, $twenty);
				@include spaces(margin, bottom, $twenty);
				order: -2;
			}
		}
		#breadcrumb {
			order: -2;
			height: 60px;
			@include spaces(padding, top, $ten);
			.breadcrumb {
				background: none;
				padding: 1.2rem 0;
				li, a {
					color:#333; 
					font-size:$font-11;}
				li:before {
					color:#333;
				}
			}
		}
		.select {
			.custom-select {
				width: 150px; 
				height: 30px;
				font-size: 1.2rem;
			}
		}
		.card-wrap {
			display: $display-flex;
			flex-wrap: wrap; 
			.card {
				margin:0;
				@include spaces(padding, top, $thirty);
				@include spaces(padding, right, $no-padding);
				border: $no-border;
				border-bottom: $border-bottom;
				transition: 500ms ease;
				background:#f2f2f2;
				&:hover {
					@include spaces(padding, top, $ten);
				}
				.card-content {
					display: $display-flex;
					flex-direction: row;
					img {
						width: 160px; 
						height:160px;
					}
					.card-body {
						padding:8px;
						h3 {font-size:1.3rem; line-height: 1.8rem; margin: $no-margin;}
						.fa-star {font-size: 1.4rem;}
						p {
							@include spaces(margin, top, $twenty);
							font-size:1.2rem;
						}
						span {display:block; font-size:1.6rem;}
						.btn-group {
							@include spaces(margin, bottom, $twenty);
							background: #ccc;
							border-radius:6px;
							.fa-shopping-cart {font-size: 1.2rem;}
							height:30px;
							.btn {background:#ccc; border: none;}
							.btn:last-child {background:#947054;}
						}
					}
				}
			}
		}
		.sidebar {
        	display:none;
    	}
    }
}


// MEDIA QUERIES
@media only screen and (min-width: 576px) {
	
	.content {
		.main {
			.card-wrap {
				order: 1;
				.card {
					border: $no-border;
					.card-content {
						flex-direction: column;
						.card-body {
							padding:0.5rem 0.4rem;
							width:160px;
							.btn-group {
								display: $display-flex;
								justify-content: center;
							}
						}
					}
				}
			}
			.sidebar {
				display:block;
				@include spaces(padding, top, $thirty); 
				ul {
					padding: $no-padding;
					li {
						list-style-type: none;
						margin:1.4rem 0 0 0.8rem;
					}
					a {
						@include default-text;
					}
				}
			}
		}
	}
	
}


@media only screen and (min-width: 992px) {

	.content {
		.main {
			.card-wrap {
				.card {
					.card-content {
						@include default-border;
						padding: 1rem 2rem;
						&:hover {
							border:0.1rem solid #947054;
							cursor: pointer; box-shadow: 0 0 3px 1px rgba(0,0,0,.08);
						}
					}
				}
			
			}
		}
	}

}