#nav-bottom {
	border-top: $no-border;
}
  
.nav-menu {
	text-align: left;
	float: none;
	margin: $no-margin;
	padding: $no-padding;
	ul {
		margin: $no-margin;
		padding: $no-padding;
		list-style: none;
	}
}
  
.nav-menu>li>a {
		display: block;
		padding: 2.5rem 0;
		font-size: $font-14;
		line-height: 20px;
		font-weight: 700;
		text-transform: uppercase; 
		color: $terciary-color;
}
  
.nav-menu li.has-dropdown {
		position: relative;
}
  
.nav-menu li.has-dropdown>a:after {
		font-family: 'FontAwesome';
		content: "\f0d7";
		margin-left: 0.5rem;
}
  
.nav-menu li.has-dropdown>.dropdown {
		position: absolute;
		left: 0;
		text-align: left;
		border-radius: $border-radius;
		z-index: 60;
		transform: translateY(10px);
		opacity:0;
		visibility: hidden; 
		transition: 0.2s all;
}
  
.nav-menu li.has-dropdown:hover>.dropdown {
		transform: translateY(0px); 
		opacity: 1;
		visibility: visible;
}
  
.nav-menu li.has-dropdown>.dropdown .dropdown-body {
		background-color: $terciary-color;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
		border-top: 0.3rem solid $primary-color;
}
  
.nav-menu li.has-dropdown.megamenu {
		position: static;
}
  
.nav-menu li.has-dropdown.megamenu>.dropdown {
		width: 100%;height: 100%;
}
  
.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-body {
		padding: 3rem;
		height: 100%;
}
  
.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-list {
		margin-bottom: 3rem;
}
  
.nav-menu li.has-dropdown.megamenu>.dropdown .dropdown-list li a {
		padding-left: $no-padding;
		padding-right: $no-padding;
}
  
.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-content {
		z-index: 70;
		position: relative;
		margin-left: -3rem;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
}
  
.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav {
		background-color: #1b1c1e;
		box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
		position: relative;
		z-index: 60;
		border-bottom-left-radius: $border-radius;
		border-top-left-radius: $border-radius;
}
  
.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav  {
		&:first-child {
			border-top-left-radius: $border-radius;
		}
}
  
.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-nav a {
		width: 100%;
		display: block;
		padding: 1.5rem;
		color: $terciary-color;
		font-size: $font-13;
		text-decoration:none;
}

.tab-nav > a.nav-item.nav-link.active:first-child{
		border-top-left-radius: $border-radius;
}

.tab-nav > a.nav-item.nav-link.active:last-child{
		border-bottom-left-radius: $border-radius;
}

.tab-nav > a.nav-item.nav-link.active{
		background: $primary-color;
		color: $terciary-color;
}

.tab-nav > a.nav-item.nav-link:hover:first-child, 
.tab-nav > a.nav-item.nav-link:focus:first-child {
		border-top-left-radius: $border-radius;
}
	
.tab-nav > a.nav-item.nav-link:hover:last-child, 
.tab-nav > a.nav-item.nav-link:focus:last-child {
		border-bottom-left-radius: $border-radius;
}
	
.tab-nav > a.nav-item.nav-link:hover,
.tab-nav > a.nav-item.nav-link:focus {
		border: $no-border;
		background: $primary-color;
		color:$terciary-color;
		border-radius: $no-border;
		transition:0.20s linear;
}

.post {
		position: relative;
		margin-bottom: 3rem;
}
  
.post .post-body {
		position: relative;
		margin: -5rem 0px 0px 3%;
		padding: 5%;
		background: $terciary-color;
		z-index: 10;
}
  
.post .post-body h3 {
		color: $txt-primary-color;
		font-weight: 700;
		margin: 0px 0px 1.5rem;
		font-size: 16px;
}
	
.post .post-body span {
	font-size: $font-13;
	font-weight: 600;
}

.post .post-img {
		display: block;
		overflow: hidden;
		width:160px;
		height:160px;
}
  
.post-img>img {
		width: 100%;
		transition: 1.6s -webkit-transform;
		transition: 1.6s transform;
		transition: 1.6s transform, 1.6s -webkit-transform;
}
  
.post-img:hover>img {
		transform: scale(1.1);
}
  
.post .post-meta {
		margin-top: 1rem;
}
  
.post-meta li {
		display: inline-block;
		color: $txt-primary-color;
}
  
.post-meta li a {
		color: $txt-primary-color;
		font-weight: 700;
}
  
.post-meta li a:hover, .post-meta li a:focus {
		color: $primary-color;
}
  
.post-meta li:after {
		content: '/';
		display: inline-block;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
}
  
.post-meta li:last-child:after {
		display: none;
}
  
/*----------------------------*\
	  post small
\*----------------------------*/
  
.post.post-sm .post-body {
		margin: 1.5rem 0 0;
		background: transparent;
		padding: $no-padding;
}
  
.nav-menu-content {
	  display: $display-flex;
}

.nav-menu-content ul li {
	margin:0 0 2rem 0;
	font-size:$font-14;
}

// MEDIA QUERIES
@media only screen and (max-width: 767px) {

	#nav-bottom {
		display: none;
	}

}
	
@media only screen and (min-width: 768px) and (max-width:991px) {

	.nav-menu li.has-dropdown.megamenu>.dropdown.tab-dropdown .tab-content {
		height: 100%;
	}

}
   