.order-request-title {
  @include spaces(margin, top, $twenty);
}

.order-request {
		padding:$no-padding;
		@include spaces(padding, top, $twenty); 
		h3 {
				font-size:$font-14; 
				margin:0 0 1.5rem 0; 
				font-weight:bold;
		}
		p {
				font-size:$font-13;
				margin:$no-margin;
				@include spaces(margin, bottom, $ten); 
		}
		.o-r-content {
				margin:0 0 2rem 0;
				.o-r-c-info, .o-r-c-summary {
						@include spaces(padding, all, $ten); 
						@include default-border;
						background: $white;
						span {float:right;}
				}	
				.o-r-c-summary {
						p {
								margin: 2rem 0;
								border-bottom:$border;	
						}
				}
		}
		.accompany-your-order {
				@include spaces(margin, top, $thirty); 
				h3 {font-size:16px;}
				.o-r-content-cart {
						display:$display-flex;
						align-items: center;
						@include default-border;
						@include spaces(padding, all, $ten); 
						@include spaces(margin, top, 0.2rem); 
						background: $white;
						img {margin: 0 2rem 0 0; width:60px; height:60px;}
						p:last-child {
							text-align: right; 
							margin-left: auto;
						}
						span {
							display:block;
						}
				}
		}

		.timeline-wrap {
        padding: $no-padding;
				margin: $no-margin;
				@include spaces(margin, top, 3rem); 
				.timeline {
						@include default-border;
						position: relative;
						@include spaces(padding, all, $twenty); 
						background: $white;
						li {
								margin: $no-margin;
								@include spaces(padding, left, $twenty); 
								list-style-type: none;
								position: relative;
								label {
										position:absolute; 
										top:0.2rem; 
										left:-0.3rem; 
										color:$secondary-color; 
										z-index: 99;}
								a {
									color:$secondary-color; 
									font-size:$font-13;
								}
								p {font-size:$font-12; color:#333;}
						}
						li:before {
								content: ' ';
								background: white;
								display: inline-block;
								position: absolute;
								border-radius: 50%;
								border: 0.2rem solid $secondary-color; 
								left: -1rem;
								width: 20px;
								height: 20px;
								z-index: 9;
						}
				}
				.timeline:before {
						content: ' ';
						background: $secondary-color; 
						display: inline-block;
						position: absolute;
						top:0;
						left: 1.9rem;
						width: 2px;
						height: 100%;
						z-index: 9;
				}
		}

}


@media only screen and (min-width: 768px) { 
		.order-request {
				display:$display-flex;
				flex-wrap: wrap;
				.o-r-content {
						.o-r-c-summary {
								p {
										margin: 41.5px 0;
								}
						}
				}
				.accompany-your-order {
						@include spaces(margin, top, 2rem); 
				}
				.timeline-wrap {
						@include spaces(margin, top, 2rem); 
						.timeline {
								@include spaces(margin, top, 3.3rem); 
						}
				}
		}
}