.order-summary {
		@include spaces(margin, top, $forty);
		@include spaces(margin, bottom, $thirty);
		.order-summary-content {
	      display:$display-flex;
				@include default-border;
				padding:1rem 0;
				background:#eee;
				p {
						margin:$no-margin; 
						font-size:$font-14;
						span {
								color:#ff0000;
								font-weight:bold;
						}
				}
				div:last-child p {
						display:$display-flex; 
						justify-content:flex-end;
				}
				.order-summary-inline {
						display:$display-flex; 
						flex-direction: column; 
						align-items: flex-start;
						p {
							span {@include spaces(margin, left, 0.5rem); }
							i {display: none;}
						}
				}	
		}
} 

.payment-methods {
    @include spaces(margin, top, $twenty);
		font-size:$font-14;
		.nav-tabs {
				background:#eee;
				border-radius: 0.6rem;
		}
		a {
				color:$secondary-color;
				font-size:$font-13;
				padding: 0.5rem 0.7rem;
				&:hover {
						color:#333;
				}
		}
	  .payment-methods-txt {
				margin:$no-margin;
				@include spaces(margin, top, $thirty);
				padding:$no-padding;
				p {
					@include default-text;
					@include spaces(margin, bottom, $ten);
					margin:$no-margin;
					padding:$no-padding;
				}
		}
		.payment-methods-products {
				display:$display-flex;
				flex-wrap:wrap;
				@include spaces(margin, top, $thirty);
				.payment-methods-products-wrap {
						display:$display-flex;		
						flex-wrap:wrap;	
						.p-m-product {
								.p-m-p-content {
										display:$display-flex;
										align-items:center;
										@include spaces(margin, bottom, 0.2rem);
										@include default-border;
										@include spaces(padding, all, $ten);
										background:$white;
										img {
											width:60px; 
											height:60px;}
										p {
												@include spaces(margin, left, 2rem);
												font-size:$font-13;
												span {
														display:block;
												}
										}
										.btn-group {
												height:25px; 
												text-align:right;
												@include spaces(margin, left, auto); 
												.btn {
													background: #875905;
													border-color: #875905;
												}
										}
								}
						}
				}
				.amk-exchange {
						display:$display-flex;
						align-items: flex-start;
						.amk-exchange-content {
								@include spaces(padding, all, 2rem); 
								@include spaces(margin, bottom, 2rem); 
								@include default-border;	
								background: $white;
								h3 {
										margin: $no-margin;
										@include spaces(margin, bottom, 3rem); 
										padding: $no-padding; 
										border-bottom:$border; 
										font-size:$font-14; 
								}
								h4, h5 {
										font-size:$font-13; 
								}
								h5 {
										@include spaces(margin, bottom, 2rem); 
								}
								p {
										margin:$no-margin;
										@include spaces(margin, bottom, 2rem); 
										padding: $no-padding; 
										font-size:$font-12; 
										span {
											float:right;
										}
								}		
								button {
										color:$secondary-color;
										background: $primary-color;
										color:$white;
										@include default-button;
										font-size:$font-13;
										height:40px; 
										float:right;
										transition: 0.2s ease-in;
										background-size: 200% auto;
										&:hover {
												background-position: right center;
												color:$white;
										}
								}
						}
				}
		}	
}

/* MEDIA QUERIE */
@media only screen and (max-width: 767px) {

    .payment-methods-products {
		    @include no-padding;
			  .payment-methods-products-wrap  {
					  @include no-padding;
		
					  .p-m-product {
							  @include no-padding;
					  }
			  }
			  .amk-exchange {
				    @include no-padding;
			  }
		}
		
}

@media only screen and (min-width: 768px) {
		
		.payment-methods {
				a {
						padding: 0.5rem 2rem;
				}
				.payment-methods-products {
						@include no-padding;
						.payment-methods-products-wrap {
								padding:0;
						}
				}
		}

		.order-summary {
				.order-summary-content {
						p {
								strong {font-size:2rem;}
						}
						.order-summary-inline {
								display:$display-flex;
								flex-direction: row; 
								p {
										i {
											display:block;
											margin:0 0.5rem 0 0.5rem;
										}
								}
						}
				}
		} 

		
	
}