#menu-content {  
    display: block;
}

.toggle-btn {
    color:$secondary-color;
    cursor: pointer;
}

.menu-list {
    position: fixed;
    top:55px;
    left:0;
    display: block;
    width: 100%;
    z-index: 99999; 
    overflow: hidden; 
    font-size: $font-12;
    background-color: $secondary-color; 
    color: $terciary-color;
}

.menu-list ul,
.menu-list li {
    padding: 0.5rem 0;
    margin: $no-margin;
    line-height: 35px;
    cursor: pointer;
}

.menu-list ul :not(collapsed) .arrow:before,
.menu-list li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
    float: right;
}

.menu-list ul .sub-menu li.active,
.menu-list li .sub-menu li.active {
    color: $primary-color;
}

.menu-list ul .sub-menu li.active a,
.menu-list li .sub-menu li.active a {
    color: $primary-color;
}

.menu-list ul .sub-menu li,
.menu-list li .sub-menu li {
    border: $no-border;
    line-height: 28px;
    border-bottom: 0.1rem solid #23282e;
    margin-left: 2.8rem;
}

.menu-list ul .sub-menu li:before,
.menu-list li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
}

.menu-list li {
    padding-left:$no-padding;
    border-left: 0.3rem solid #2e353d;
    border-bottom: 0.1rem solid #23282e;
}

.menu-list li:last-of-type {
    border-bottom:$no-border;
}

.menu-list li a {
    text-decoration: none;
    color: #e1ffff;
    font-size: $font-13;
}

.menu-list li a i {
    padding-left: 1rem;
    width: 20px;
    padding-right: 2rem;
}

.menu-list li:hover {
    border-left: 0.3rem solid $primary-color;
    background-color: $secondary-color;
    transition: all 1s ease;
}

@media only screen and (min-width: 768px) {

    .menu-list {
        display: none;
    }

}
  