.content {
	display: $display-flex;
	min-height: 100vh;
	@include spaces(padding, bottom, $thirty);
	.main {
		display: $display-flex;
		flex: 1;
		#breadcrumb {
			background: lighten(rebeccapurple, 15%);
			order: -2;
			@include spaces(padding, top, $ten);
			.breadcrumb {
				background: none;
				padding: 1.2rem 0;
				li, a { color:#fff;}
				li:before {color:#fff;}
			}
			&:hover {
				background: lighten(rebeccapurple, 20%);
			}
		}
		.titles {
			@include titles(#333, 1.6rem, $border-bottom);
			order: -2;
			@include spaces(margin, top, $twenty);
			@include spaces(margin, bottom, $no-margin);
		}

		.cart-steps-wrap {display: none;}

		.cart-products-wrap {
			border:1px solid #ccc;
			border-radius: 3px;
			@include spaces(margin, top, $thirty);
			.cart-products {
				display: flex;
				height:80px;
				border-bottom: 1px solid #ccc;
				img {width:60px; height:60px;border: 1px solid #ccc; margin: 0 10px;}
				p { 
					font-size: 14px;
					span {display: block;}
				}
				.fa-remove {font-size:16px;}
				.form-control {
					width:60px;
    				height: 40px;
    				text-align: center;
				}
			}
			.cart-products:last-child {
				border:0;
			}
		}

		.cart-products-values {
			display: flex;
			height:102px;
			border-bottom:1px solid #ccc;
			margin-top:18px;
			p {font-size:14px;}
			div:last-child p {
				display: flex; 
				justify-content: flex-end;
			}
		}

		.cart-buttons {
			display: flex;
			margin-top:20px;
			i {font-size:16px;}
			button {
    			font-size: 14px;
				margin: 0 0 0 10px;
				height:40px;
			}
		}

	}

}

@media only screen and (min-width: 992px) {

	.content {

		.main {

			.cart-steps-wrap {
				display:flex;
				margin-top:20px;
				.cart-step {
					display: flex;
					.box {
						width:100%;
						display: flex;
						align-items:center;
						position: relative;
						height:60px;
						background: #ccc; 
						margin: 0 28px 0 0; 
						border:0;
						.circle {
							width: 30px; height:30px; border-radius:100%; background:#fff; margin:0 20px 0 60px;
							p { color:#ccc; text-align:center; line-height:30px;}
						}
						p {color:#fff; font-size:14px; margin:0;}
					}
					.box:after, .box:before {
						content: " ";
						position: absolute;
						right: -28px;
						border-top:30px solid transparent;
						border-bottom: 30px solid transparent;
						border-left: 29px solid #ccc;
					}
					.box:before {
						right: auto;
						left: 0;
						border-left: 28px solid #fff;	
						z-index: 2;
					}
					.box-first {
						margin-left:0;
						border-top-left-radius: 3px;
						border-bottom-left-radius: 3px;
						&:before {border:none;}
						.circle {
							margin:0 20px 0 40px;
						}
					}
				}
				.cart-step-active {
					.box {
						background: lighten(rebeccapurple, 15%);
						.circle {
							p {color: lighten(rebeccapurple, 15%); }
						}
					}
					.box:after {
						border-left: 29px solid lighten(rebeccapurple, 15%); 
					}
				}
			}	

		}

	}

}


