.no-gutters {
	margin-right: 0;
	margin-left: 0;
  
	> .col,
	> [class*="col-"] {
	  padding-right: 0;
	  padding-left: 0;
	}
  }

.content {
	display: $display-flex;
	min-height: 100vh;
	@include spaces(padding, bottom, $thirty);
	.main {
		display: $display-flex;
		flex: 1;
		#breadcrumb {
			background: lighten(rebeccapurple, 15%);
			order: -2;
			@include spaces(padding, top, $ten);
			.breadcrumb {
				background: none;
				padding: 1.2rem 0;
				li, a { color:#fff;}
				li:before {color:#fff;}
			}
			&:hover {
				background: lighten(rebeccapurple, 20%);
			}
		}
		.titles {
			@include titles(#333, 1.6rem, $border-bottom);
			order: -2;
			@include spaces(margin, top, $twenty);
			@include spaces(margin, bottom, $no-margin);
		}
		.cart-products-wrap {
			border:1px solid #ccc;
			border-radius: 3px;
			@include spaces(margin, top, $thirty);
			.cart-products {
				display: flex;
				height:80px;
				border-bottom: 1px solid #ccc;
				img {width:60px; height:60px;border: 1px solid #ccc; margin: 0 10px;}
				p { 
					font-size: 14px;
					span {display: block;}
				}
				.fa-remove {font-size:16px;}
				.form-control {
					width:60px;
    				height: 40px;
    				text-align: center;
				}
			}
			.cart-products:last-child {
				border:0;
			}
		}

		.cart-products-values {
			display: flex;
			height:102px;
			border-bottom:1px solid #ccc;
			margin-top:18px;
			p {font-size:14px;}
			div:last-child p {
				display: flex; 
				justify-content: flex-end;
			}
		}

		.cart-buttons {
			display: flex;
			margin-top:20px;
			i {font-size:16px;}
			button {
    			font-size: 14px;
				margin: 0 0 0 10px;
				height:40px;
			}
		}

	}

}


.cart-steps-wrap {
	display:flex;
	margin-top:20px;
	.cart-step {
		display: flex;
		.box {
			display: flex;
			align-items:center;
			width: 335px;
			height:60px;
			background: #ccc;
			border:1px solid #ccc;
			.circle {
				width: 30px; height:30px; border-radius:100%; background:#fff; margin:0 20px;
				p { color:#ccc; text-align:center; line-height:30px;}
			}
			p {color:#fff; font-size:14px; margin:0;}
		}
		
		.right-arrow {
			border-color: transparent #ccc;
			border-style: solid;
			border-width: 30px 0px 30px 20px;
			height: 0px;
			width: 0px;
		}
	}
	.cart-step-active {
		.box {
			background: lighten(rebeccapurple, 15%);
			border:1px solid #ccc;
			.circle {
				p { color: lighten(rebeccapurple, 15%); }
			}
		}

		.right-arrow {
			border-color: transparent lighten(rebeccapurple, 15%);
		}
	}
}



