@media screen and (min-width: 360px) {

    .cart-products-wrap {
        border: 1px solid #ccc;
        

        .cart-products {
            border: 1px solid #ccc;
            height:80px;
        }
    }

}