.header-infos {
	.dropdown-menu {
		top: 10px!important;
		border-radius: $border-radius;
		border-width:2px;
		transform: translateY(10px);
		transition: 0.2s all; transform: none;
		&:hover {
			transform: translateY(0px);
		}
	}
	.fa-shopping-cart {
		cursor: pointer;
		&:after {
			display: none;
		}
	}
	#header-infos-content {
		width: 250px; 
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom:1px solid #ccc;
		p {
			font-size: 13px;
			margin:0;
			span {display: block;}
		}
		.fa-remove {
			font-size:14px;
		}
	}
	#header-infos-content-user {
		border-bottom:1px solid #ccc;
		padding-left:20px;
		p {
			font-size: 13px;
			margin:20px 0;
			span {display: block;}
		}
	}
	#header-infos-total {
		display: flex;
		align-items: center;
		padding: 20px;
		p {
			font-size:13px;
			width: 100%;
    		margin: 0;
		}
		span {
			float: right;
		}
	}
	button {
		font-size: 1.2rem; height:30px; background:$secondary-color; border-radius:$border-radius; margin-bottom:10px; transition: 0.2s ease-in;
		&:hover {
			background-position: right center;
		}
	}
}