.header-infos {
	.dropdown-menu {
		top: 10px!important;
		border-radius: $border-radius;
		border-width:2px;
		transform: translateY(1rem);
		transition: 0.2s all; 
		transform: none;
		&:hover {
			transform: translateY(0px);
		}
	}
	.fa-shopping-cart {
		cursor: pointer;
		&:after {
			display: none;
		}
	}
	#header-infos-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 250px; 
		border-bottom:0.1rem solid $txt-terciary-color;
		p {
			font-size: $font-13;
			margin: $no-margin;
			span {
				display: block;
			}
		}
		.fa-remove {
			font-size: $font-14;
		}
	}
	#header-infos-content-user {
		border-bottom:0.1rem solid $txt-terciary-color;
		padding-left: 2rem;
		p {
			font-size: $font-13;
			margin: 2rem 0;
			span {
				display: block;
			}
		}
	}
	#header-infos-total {
		display: flex;
		align-items: center;
		padding: 2rem;
		p {
			font-size: $font-13;
			width: 100%;
    		margin: $no-margin;
		}
		span {
			float: right;
		}
	}
}