:root {
	font-size: 62.5%;
	html, body {
		font-size: 1rem;
		font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
}

// VARIABLES
$font-11: 1.1rem;
$font-12: 1.2rem;
$font-13: 1.3rem;
$font-14: 1.4rem;
$white: #fff;
$secondary-color: lighten(rebeccapurple, 15%);
$display-flex: flex;
$no-padding:0;
$no-margin:0;
$no-border: 0;
$border: 0.1rem solid #ccc;
$border-bottom: 0.1rem solid #ccc;
$border-radius:0.6rem;
$directions: top, right, bottom, left;
$ten : 1rem;
$twenty : 2rem;
$thirty : 3rem;
$forty : 4rem;

// PLACEHOLDERS
%center { 
    display:block; 
    margin:0 auto;
}

%hover {
		text-decoration: underline; 
		color:#fff;
}

 
// MIXINS
@mixin spaces ($type: margin, $direction: all, $amount: $ten){
	@if $type == padding {
		@if $direction == all{
			padding: $amount;
		} @else if $direction == top {
			padding-top:$amount
		} @else if $direction == left {
			padding-left:$amount
		} @else if $direction == right {
			padding-right:$amount
		} @else {
			padding-bottom:$amount
		}
	} @else {
		@if $direction == all{
			margin: $amount;
		} @else if $direction == top {
			margin-top:$amount
		} @else if $direction == left {
			margin-left:$amount
		} @else if $direction == right {
			margin-right:$amount
		} @else {
			margin-bottom:$amount
		}
	}
}

@mixin titles($color, $size, $border-bottom) {
    color: $color;
    font-size: $size;
		border-bottom: $border-bottom;
}

@mixin no-padding($padding-right: 0, $padding-left: 0) {
		padding-right: $padding-right;
		padding-left: $padding-left
}

@mixin default-text {
	font: {
	  size: 1.3rem;
	}
	color: #333;
  }
  
@mixin default-border {
	border: {
		style: solid;
		width: 0.1rem;
		color: #ccc;
		radius: 0.6rem;
	}
}

@mixin default-button {
	border: {
		style: solid;
		width: 0.1rem;
		color: $secondary-color;
		radius: 0.6rem;
	}
}