<div class="content">
  <main class="main"> 
      <div class="container">
          <div class="row">

              <nav class="col-12" id="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">loja</li>
                  </ol>
              </nav>

              <section class="col-12">

                  <h2 class="titles">Loja</h2>

                  <div class="select pull-right">
                      <select class="custom-select custom-select-sm">
                              <option selected>Filtrar por Categoria</option>
                              <option value="1">Perfumes</option>
                              <option value="2">Cremes Hidratantes</option>
                              <option value="3">Linha Capilar</option>
                      </select>
                  </div>

              </section>
      
              <section class="card-wrap col-sm-8 col-md-9 col-lg-9 col-xl-10">
                  <article class="card col-12 col-sm-6 col-md-4 col-xl-3">
                      <div class="card-content">
                          <img src="assets/images/store/produto.png">
                          <div class="card-body">
                              <h3>Máscara Tonalizante Vermelha Sem amônia ou oxidante</h3>
                              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                              <p>de R$ 399,00 <span>por R$ 280,50</span></p>
                              <div class="btn-group">
                                  <button class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                                  <button class="btn btn-secondary">2</button>
                                  <button class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                                  <button class="btn btn-secondary" [routerLink]="['/shopping-cart']"><i class="fa fa-shopping-cart"></i></button>
                              </div>
                          </div>
                      </div>
                  </article>                   

                  <article class="card col-12 col-sm-6 col-md-4 col-xl-3">
                      <div class="card-content">
                          <img src="assets/images/store/produto.png">
                          <div class="card-body">
                              <h3>Máscara Tonalizante Vermelha Sem amônia ou oxidante</h3>
                              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                              <p>de R$ 399,00 <span>por R$ 280,50</span></p>
                              <div class="btn-group">
                                  <button class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                                  <button class="btn btn-secondary">2</button>
                                  <button class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                                  <button class="btn btn-secondary"><i class="fa fa-shopping-cart"></i></button>
                              </div>
                          </div>
                      </div>
                  </article>               

                  <article class="card col-12 col-sm-6 col-md-4 col-xl-3">
                      <div class="card-content">
                          <img src="assets/images/store/produto.png">
                          <div class="card-body">
                              <h3>Máscara Tonalizante Vermelha Sem amônia ou oxidante</h3>
                              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                              <p>de R$ 399,00 <span>por R$ 280,50</span></p>
                              <div class="btn-group">
                                  <button class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                                  <button class="btn btn-secondary">2</button>
                                  <button class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                                  <button class="btn btn-secondary"><i class="fa fa-shopping-cart"></i></button>
                              </div>
                          </div>
                      </div>
                  </article>    
                  
                  <article class="card col-12 col-sm-6 col-md-4 col-xl-3">
                      <div class="card-content">
                          <img src="assets/images/store/produto.png">
                          <div class="card-body">
                              <h3>Máscara Tonalizante Vermelha Sem amônia ou oxidante</h3>
                              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                              <p>de R$ 399,00 <span>por R$ 280,50</span></p>
                              <div class="btn-group">
                                  <button class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                                  <button class="btn btn-secondary">2</button>
                                  <button class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                                  <button class="btn btn-secondary"><i class="fa fa-shopping-cart"></i></button>
                              </div>
                          </div>
                      </div>
                  </article>       
                  <article class="card col-12 col-sm-6 col-md-4 col-xl-3">
                          <div class="card-content">
                              <img src="assets/images/store/produto.png">
                              <div class="card-body">
                                  <h3>Máscara Tonalizante Vermelha Sem amônia ou oxidante</h3>
                                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                  <p>de R$ 399,00 <span>por R$ 280,50</span></p>
                                  <div class="btn-group">
                                      <button class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                                      <button class="btn btn-secondary">2</button>
                                      <button class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                                      <button class="btn btn-secondary"><i class="fa fa-shopping-cart"></i></button>
                                  </div>
                              </div>
                          </div>
                      </article>                   
  
                      <article class="card col-12 col-sm-6 col-md-4 col-xl-3">
                          <div class="card-content">
                              <img src="assets/images/store/produto.png">
                              <div class="card-body">
                                  <h3>Máscara Tonalizante Vermelha Sem amônia ou oxidante</h3>
                                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                  <p>de R$ 399,00 <span>por R$ 280,50</span></p>
                                  <div class="btn-group">
                                      <button class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                                      <button class="btn btn-secondary">2</button>
                                      <button class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                                      <button class="btn btn-secondary"><i class="fa fa-shopping-cart"></i></button>
                                  </div>
                              </div>
                          </div>
                      </article>               
  
                      <article class="card col-12 col-sm-6 col-md-4 col-xl-3">
                          <div class="card-content">
                              <img src="assets/images/store/produto.png">
                              <div class="card-body">
                                  <h3>Máscara Tonalizante Vermelha Sem amônia ou oxidante</h3>
                                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                  <p>de R$ 399,00 <span>por R$ 280,50</span></p>
                                  <div class="btn-group">
                                      <button class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                                      <button class="btn btn-secondary">2</button>
                                      <button class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                                      <button class="btn btn-secondary"><i class="fa fa-shopping-cart"></i></button>
                                  </div>
                              </div>
                          </div>
                      </article>    
                      
                      <article class="card col-12 col-sm-6 col-md-4 col-xl-3">
                          <div class="card-content">
                              <img src="assets/images/store/produto.png">
                              <div class="card-body">
                                  <h3>Máscara Tonalizante Vermelha Sem amônia ou oxidante</h3>
                                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                  <p>de R$ 399,00 <span>por R$ 280,50</span></p>
                                  <div class="btn-group">
                                      <button class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                                      <button class="btn btn-secondary">2</button>
                                      <button class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                                      <button class="btn btn-secondary"><i class="fa fa-shopping-cart"></i></button>
                                  </div>
                              </div>
                          </div>
                      </article> 
              </section>    

              <aside class="sidebar col-sm-4 col-md-3 col-lg-3 col-xl-2">
                  <h3>Filtrar por:</h3>
                  <nav>
                      <ul>
                          <li><a href="#">Perfumes</a></li>
                          <li><a href="#">Cremes Hidratantes</a></li>
                          <li><a href="#">Linha Capilar</a></li>
                          <li><a href="#">Promoções</a></li>
                          <li><a href="#">Eventos</a></li>
                          <li><a href="#">Face & Body</a></li>
                          <li><a href="#">Linha Íntima</a></li>
                      </ul>
                  </nav>
              </aside>
              
          </div>
      </div>
  </main>
</div>