<div class="content">
  <main class="main"> 

      <div class="banner">       
            
            <img src="assets/images/store/img-banner.jpg" alt="">

            <div class="container"> 
                <nav class="col-12" id="breadcrumb">
                    <div class="row">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">loja</li>
                        </ol>
                    </div>
                </nav>  
                <h2 class="titles">Loja</h2>
            </div>

      </div>

      <div class="container">
          
          <div class="row">

              <section class="col-12 no-gutters">
                
                  <div class="select pull-right">
                      <select class="custom-select custom-select-sm">
                              <option selected>Ordenar produtos por:</option>
                              <option value="1">Maior Preço</option>
                              <option value="2">Menor Preço</option>
                              <option value="3">Nome (a-z)</option>
                              <option value="3">Nome (z-a)</option>
                              <option value="3">Lançamentos</option>
                      </select>
                  </div>

              </section>
      
              <section class="card-wrap col-sm-8 col-md-9 col-lg-9 col-xl-10">

                  <article class="card col-12 col-sm-6 col-md-4 col-xl-3" *ngFor="let produto of produtos"> 
                      <div class="card-content" [routerLink]="['/order-details']">
                          <img [src]="produto.imagePath">
                          <div class="card-body">
                              <h3>{{ produto.name }}</h3>
                              <ngb-rating [(rate)]="currentRate"></ngb-rating>
                              <p>de {{ produto.price }} <span>por {{ produto.priceDesc }}</span></p>
                              <div class="btn-group">
                                  <button class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                                  <button class="btn btn-secondary">2</button>
                                  <button class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                                  <button class="btn btn-secondary" [routerLink]="['/shopping-cart']"><i class="fa fa-shopping-cart"></i></button>
                              </div>
                          </div>
                      </div>
                  </article>                   

              </section>    

              <aside class="sidebar col-sm-4 col-md-3 col-lg-3 col-xl-2">
                  <h3>Filtrar por:</h3>
                  <app-sidebar></app-sidebar>
              </aside>
              
          </div>
      </div>
  </main>
</div>